* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
  background-image: url('imgs/fondo.jpg');
  margin: 0;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.cont-princ {
  width: 100%;
  height: 100vh;
  /*background-color: #3880f6;*/
  background: linear-gradient(45deg, #ff3038, #600202);
}
.cont-princ h4 {color: #fff}
.header-princ {
  width: auto;
  height: 60px;
  padding: 10px;
}
.main-princ {
  width: auto;
  height: auto;
  padding: 10px;
}
.footer-princ {
  width: auto;
  height: 60px;
  padding: 10px;
}

/*Marca de agua*/
.marca-agua {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  padding: 6px;
  margin-right: 10px;
  background-color: #ff3038;
  color: white;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 0.7;
}
.marca-agua a {
  color: #fff;
  text-decoration: none;
}
.marca-agua a span {
  line-height: 10px;
}
/*Fin de marca*/

/*Colores de cuadro*/
.color-sec {background-color: #3880f6; color: #fff;}
/*Fin de colores*/

/*Barra de progreso*/
#myProgress {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
}

#myBar {
  width: 1%;
  height: 10px;
  border-radius: 10px;
  background-color: #b00000;
}
@media screen and (min-width: 800px) {
  #myProgress {
    width: 60%;

    margin-left: 20%;
    margin-right: 20%;
  }
}
/*Fin de barra de progreso*/

.header {
  width: 100%;
  background: linear-gradient(45deg, #ff3038, #600202);
  border-bottom-left-radius: 180px;
}

/*Menú web responsivo*/
.cont-menu {
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 10px;
  color: #fff;

  /*Flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
nav{
  background: transparent;
  height: 40px;
  width: auto;
  max-width: 65%;
}
nav ul li{
  display: inline-block;
  line-height: 40px;
  margin-left: 10px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #ff3038;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 50px;
  /*margin-right: 10px;*/
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (min-width: 800px){
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 60%;
    background: transparent;
    /*top: 80px;*/
    left: -100%;
    transition: all .5s;
    z-index: 99;
    padding: 10px;
  }
  nav ul li{
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/*Fin del menú*/

/*Elementos del hero text*/
.hero-text {
  width: 100%;
  padding: 10px;
  min-height: 300px;
  color: #fff;
  text-align: center;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text button {
  margin-top: 10px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px 30px;
  color: #b00000;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.hero-text button:hover {
  background-color: #ff3038;
  color: #fff;
}
/*Fin del hero text*/

/*Elementos del main*/
.main {
  width: 100%;
  height: auto;
}
.cont-main {
  background-color: #fff;
  min-height: 100px;
}
@media screen and (min-width: 800px) {
  .main {
    width: 100%;
  }
}
/*Fin del main*/

/*Elementos del inicio*/
.inicio {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}
.inicio h2 {
  color: #b00000;
}
.inicio p {
  margin-top: 10px;
}
.cont-inicio {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-inicio img {
  width: 120px;
}
.h4-princ {
  font-size: 30px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*Fin del inicio*/

/*Elementos de anuncios*/
.anuncios {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  /*Flex*/
  display: flex;
  flex-direction: column;
}
.cont-img-anunc {

  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-img-anunc img {
  width: 100%;
  height: 300px;
}
.cont-img-anunc, .bloque-texto {
  width: 100%;
  height: auto;
  padding: 10px;
}
.bloque-texto h2, .bloque-texto article {
  padding-top: 20px;
  padding-bottom: 20px;
}
.bloque-texto h2 {color: #b00000;}
.bloque-texto article {color: #000;}
@media screen and (min-width: 800px) {
  .anuncios {
    max-height: 500px;

    /*Flex*/
    flex-direction: row;
  }
  .cont-img-anunc, .bloque-texto {
    width: 50%;
  }
}
/*Fin de elementos de anuncios*/

/*Elementos de referencias*/
.referencias {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  /*Flex*/
  display: flex;
  flex-direction: column;
}
.sec-mapa {

  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-mapa iframe {
  width: 100%;
  height: 300px;
}
.sec-mapa, .direccion {
  width: 100%;
  height: auto;
  padding: 10px;
}
.direccion h2, .direccion article {
  padding-top: 20px;
  padding-bottom: 20px;
}
.direccion h2 {color: #b00000;}
.btn-llamada button {
  width: 80%;
  height: 50px;
  background-color: #b00000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
.btn-llamada button:hover {
  border: solid 1px #b00000;
  background-color: #fff;
  color: #b00000;
}
@media screen and (min-width: 800px) {
  .referencias {
    max-height: 500px;

    /*Flex*/
    flex-direction: row;
  }
  .sec-mapa, .direccion {
    width: 50%;
  }
}
/*Fin de las referencias*/

/*Elementos de horarios*/
.horarios {
  width: 100%;
  height: auto;

  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloque-centrado {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  text-align: center;

  background-image: url('imgs/horario.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bloque-centrado h2, .bloque-centrado article {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 800px) {
  .horarios img {
    min-height: 70vh;
  }
  .bloque-centrado {
    width: 600px;
    max-height: 600px;
  }
  .bloque-centrado article {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*Fin de elementos de horarios*/

/*Elementos del footer*/
.footer {
  width: 100%;
  min-height: 40px;
  margin-top: 0;
  background-color: #fff;
}

/*Info footer*/
.info-neg {
  padding: 10px;
  color: #b00000;

  display: flex;
}
.info-neg img {
  width: 30px;
}
.info-neg p {
  line-height: 30px;
  margin-left: 10px;
}
/*Fin de info*/

/*Fin del footer*/